
<html>
<head>
	<title>About</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/home/">Home</a></li>
            <li role="presentation"><a href="/teams/">Leaderboard</a></li>
            <li role="presentation"><a href="/about/">About</a></li>
          </ul>
        </nav>
        <b><h3 class="text-muted">About</h3></b>
      </div>
      

      <div class="jumbotron">
       <b>
               <p class="lead">The Ultimate battle begins! Bet with the computer on which team will win the match.</p><br>
        <hr>
        <p>You will be presented with two teams and a bunch of questions to predict which team will win the match.<br>
          Your prediction will be matched with the computer's prediction if your predictions matches with the computer you <b>WIN!</b><br>
          <b><u>Note: </u></b> <i> We are using data from IPL 2017 to predict the winner of a particular match. </i>
          <hr>

          <br>

          <p>
            <b> Contact aaditkapoor2000@gmail.com for more details </b>


<hr>
      <footer class="footer">
        <b><p>&copy; 2018 Aadit Kapoor.</p><b>
      </footer>

    </div> <!-- /container -->

</body>
</html>